<ul class="grid">
    <li class="ot-letter-left"><span data-letter="T">T</span></li>
    <li class="ot-letter-top"><span data-letter="H">H</span></li>
    <li class="ot-letter-right"><span data-letter="I">I</span></li>
    <li class="ot-letter-bottom"><span data-letter="S">S</span>
    <li class="ot-letter-left"><span data-letter="I">I</span></li>
    <li class="ot-letter-top"><span data-letter="S">S</span></li>
    <li class="ot-letter-right"><span data-letter="A">A</span></li>
    <li class="ot-letter-bottom"><span data-letter="N">N</span></li>
    <li class="ot-letter-left"><span data-letter="I">I</span></li>
    <li class="ot-letter-top"><span data-letter="M">M</span></li> 
    <li class="ot-letter-right"><span data-letter="A">A</span></li>
    <li class="ot-letter-bottom"><span data-letter="T">T</span></li>
    <li class="ot-letter-left"><span data-letter="E">E</span></li>
    <li class="ot-letter-top"><span data-letter="D">D</span></li>
    <li class="ot-letter-right"><span data-letter="T">T</span></li>
    <li class="ot-letter-bottom"><span data-letter="E">E</span></li> 
    <li class="ot-letter-left"><span data-letter="X">X</span></li>
    <li class="ot-letter-top"><span data-letter="T">T</span></li>
</ul>


<% content_for 'extra_footer' do %>
 <% end %> 
